# Node modules
/backend/node_modules

# Build output
/backend/dist
/backend/build
/backend/out

# Environment variables
/backend/.env

# Log files
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Coverage reports
/backend/coverage

# Temporary files
*.tmp
*.swp
