# Node modules
/backend/node_modules
/frontend/node_modules

# Build output
/backend/dist
/backend/build
/backend/out
/frontend/dist
/frontend/build
/frontend/out

# Environment variables
/backend/.env

# Log files
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# System files
/backend/.DS_Store
/frontend/.DS_Store
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Coverage reports
/backend/coverage

# Temporary files
*.tmp
*.swp
